body{
    background-color:rgb(217, 217, 248);
    background-image: url(Books_Apple_right.jpg);
    background-repeat: no-repeat, repeat;
}
.links{background-color: rgb(41, 100, 80);
width: 100%
border
head{
p.normal {
    font-style: normal;
  }
  p.italic {
    font-style: italic;
  }