body{
    background-color:rgb(217, 217, 248);
}

ol{
    list-style: none;
    background-color: white;
    height: 40px;
    text-align: center;
}

li{
    display: inline-block;
}


#about{
    background-color:red;
height: 50px;

}

h1{
    color: black;
   height: 30px;
   text-align: center;
}
